server:
  name: gin-gateway
  host: 0.0.0.0
  port: 8888
  mode: release # debug / release


nacos:
  endpoint: 127.0.0.1
  port: 8848
  namespace: public
  group: DEFAULT_GROUP
  timeout_ms: 5000
  username: ""
  password: ""
  context_path: /nacos


proxy:
  timeout_ms: "3000ms"
  keep_alive: true


logging:
  level: info
  access_log: true